# Base language is Python, but that does not work on macOs & Windows builds
language: python

matrix:
  include:
    - name: "Python 2.7: Windows"
      os: windows
      language: shell
      before_install:
        - choco install python2 vcredist2008
        - choco install --ignore-dependencies vcpython27
      env:
        - PATH=/c/Python27:/c/Python27/Scripts:$PATH
        - TRAVIS_PYTHON_VERSION=2.7
    - name: "Python 3.7: Windows"
      os: windows
      language: shell
      before_install:
        - choco install python3 --version=3.7.4
      env:
        - PATH=/c/Python37:/c/Python37/Scripts:$PATH
        - TRAVIS_PYTHON_VERSION=3.7
    - name: "Python 3.7: Xenial Linux"
      python: 3.7
      dist: xenial
      # Pytest doctests are only enabled for Linux
      # because they are integration tests and need ROS running on Docker
      env:
        - TRAVIS_PYTHON_VERSION=3.7
        - PYTEST_ADDOPTS=--doctest-modules
        - TRAVIS_GENERATE_DOCS=true
      services: docker
      before_install:
        - docker run -p 19997:19997 --name vrep_rfl -d gramaziokohler/vrep-rfl
        - docker-compose -f "docs/backends/files/ur5-demo/docker-compose.yml" up -d --build
        - docker ps -a
      after_script:
        - docker-compose -f "docs/backends/files/ur5-demo/docker-compose.yml" down
        - docker rm -f vrep_rfl
    - name: "Python 3.7: macOS"
      os: osx
      osx_image: xcode11.2
      language: shell
      env: TRAVIS_PYTHON_VERSION=3.7

install:
  - pip3 install cython --install-option="--no-cython-compile" || pip install cython --install-option="--no-cython-compile"
    # workaround until this issue is fixed: https://github.com/compas-dev/compas/issues/510
  - if test $TRAVIS_PYTHON_VERSION = 2.7; then pip install llvmlite==0.31.0 numba==0.47.0; fi
  - pip3 install --no-cache-dir -r requirements-dev.txt || pip install --no-cache-dir -r requirements-dev.txt

script:
  # The following syntax with || is taken directly from Travis CI documentation:
  # https://docs.travis-ci.com/user/languages/python/#running-python-tests-on-multiple-operating-systems
  # 'python' points to Python 2.7 on macOS but points to Python 3.8 on Linux and Windows
  # 'python3' is a 'command not found' error on Windows but 'py' works on Windows only
  - python3 -c "import compas_fab" || python -c "import compas_fab"
  - python3 -c "import compas_fab.backends" || python -c "import compas_fab.backends"
  - python3 -c "from compas_fab.backends.vrep.remote_api import vrep" || python -c "from compas_fab.backends.vrep.remote_api import vrep"
  - python3 -c "import compas_fab.robots" || python -c "import compas_fab.robots"
  - python3 -c "import compas_fab.utilities" || python -c "import compas_fab.utilities"
  - if [[ "$TRAVIS_PYTHON_VERSION" == "3.7" ]]; then
      python3 -m invoke lint || python -m invoke lint;
    fi
  - python3 -m invoke test || python -m invoke test
  - if [[ "$TRAVIS_GENERATE_DOCS" == "true" ]]; then
      python3 -m invoke docs || python -m invoke docs;
    fi
