graft src

prune .github
prune docs
prune tests
prune temp

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

exclude requirements-dev.txt
exclude .deepsource.toml
exclude .bumpversion.cfg
exclude .editorconfig
exclude conftest.py
exclude tasks.py
exclude pytest.ini
exclude ISSUE_TEMPLATE.md

global-exclude *.py[cod] __pycache__ *.nb[ic] .DS_Store
