graft src

prune .github
prune docs
prune tests
prune temp

include AUTHORS.md
include CHANGELOG.md
include CONTRIBUTING.md
include LICENSE
include README.md
include requirements.txt
include requirements-pybullet.txt
include requirements-pyroki.txt

exclude requirements-dev.txt
exclude .deepsource.toml
exclude .bumpversion.cfg
exclude .editorconfig
exclude conftest.py
exclude tasks.py
exclude pytest.ini
exclude ISSUE_TEMPLATE.md

global-exclude *.py[cod] __pycache__ *.nb[ic] .DS_Store
