# NOTE: Remember to also update the .github/workflows/ironpython.yml file
compas >= 2.3, < 3
compas_robots @ git+https://github.com/compas-dev/compas_robots@feature/robot_model_meshes
# compas_robots >= 0.5, < 1
roslibpy >= 1.1.0
pybullet
pyserial
