attrs >= 19.3.0
bump-my-version
compas-invocations2
invoke >= 0.14
pytest
pytest-cov
pytest-mock
ruff
tomlkit
twine
# pybullet must be installed separately due to missing wheels for newer Python versions:
# CFLAGS="-fno-define-target-os-macros" uv pip install pybullet
