attrs>=19.3.0
black
bump2version>=1.0
check-manifest>=0.36
compas_invocations
flake8
invoke>=0.14
isort
m2r2
pylint
pytest_mock
pytest-cov
pytest>=6.0
sphinx_compas_theme>=0.9
sphinx>=1.6
sybil
twine
-e .
