h1 {
	margin-bottom: 2rem;
	word-wrap: break-word;
	border-bottom: 4px solid #eee;
	padding-bottom: 0.5rem;
}

.detail h1 {
	border: none;
	padding-bottom: 0;
}

h2 {
	margin-top: 3rem;
	margin-bottom: 2rem;
}

h3 {
	margin-top: 2rem;
	margin-bottom: 1rem;
	font-weight: normal;
}

a {
	text-decoration: none;
	color: #0092d2;
}

a:hover {
	text-decoration: none;
}

blockquote {
	font-style: italic;
	padding-left: 2rem;
	padding-right: 2rem;
}

ol ol, ol ul, ul ol, ul ul {
	margin-bottom: 1rem;
}

table {
	margin: 2rem 0;
}

.compas-navbar {
	z-index: 1053;
	background-color: #0092d2;
}

.compas-navbar .navbar-brand,
.compas-navbar .nav-link {
	color: rgba(255, 255, 255, 0.5);
}

.compas-navbar .navbar-brand:hover,
.compas-navbar .nav-link:hover,
.compas-navbar .navbar-brand.active,
.compas-navbar .nav-link.active {
	color: #fff;
}

.compas-container {
	max-width: 1440px;
}

.compas-sidebar {
	order: 0;
	z-index: 1000;
	background-color: #f8f9fa;
	background-color: #fff;
	padding-top: 0rem;
	padding-bottom: 0rem;
	padding-left: 0;
	padding-right: 0;
}

.compas-content {
	order: 1;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 2rem;
	padding-bottom: 3em;
}

.compas-content > .container {
	max-width: 1140px;
}

.compas-toc {
	order: 2;
	border-left: 1px solid #eee;
	padding-top: 1rem;
	padding-left: 0;
	padding-right: 0;
	background-color: #fefefe;
	background-color: #eee;
	background-color: #fff;
	font-size: 0.875rem;
}

@media (min-width: 768px) {
	@supports ((position: sticky)
		       or (position: -webkit-sticky)
		       or (position: -moz-sticky)
		       or (position: -ms-sticky)
		       or (position: -o-sticky)) {
		.compas-navbar {
			position: -webkit-sticky;
			position: -moz-sticky;
			position: -ms-sticky;
			position: -o-sticky;
			position: sticky;
			top: 0;
		}
	}
}

@media (min-width: 768px) {
	.compas-sidebar {
		border-bottom: none;
		border-right: 1px solid #eee;
	}

	@supports ((position: sticky)
		       or (position: -webkit-sticky)
		       or (position: -moz-sticky)
		       or (position: -ms-sticky)
		       or (position: -o-sticky)) {
		.compas-sidebar {
			position: -webkit-sticky;
			position: -moz-sticky;
			position: -ms-sticky;
			position: -o-sticky;
			position: sticky;
			top: 4rem;
			max-height: calc(100vh - 4rem);
			overflow-y: auto;
		}
	}
}

@media (min-width: 768px) {
	.compas-content {
		padding-left: 3rem;
		padding-right: 3rem;
	}

	@supports ((position: sticky)
		       or (position: -webkit-sticky)
		       or (position: -moz-sticky)
		       or (position: -ms-sticky)
		       or (position: -o-sticky)) {
		.compas-content {
		}
	}
}

@media (min-width: 768px) {
	@supports ((position: sticky)
		       or (position: -webkit-sticky)
		       or (position: -moz-sticky)
		       or (position: -ms-sticky)
		       or (position: -o-sticky)) {
		.compas-toc {
			position: -webkit-sticky;
			position: -moz-sticky;
			position: -ms-sticky;
			position: -o-sticky;
			position: sticky;
			top: 4rem;
			max-height: calc(100vh - 4rem);
			overflow-y: auto;
		}
	}
}

/* Local */

.compas-toc .nav {
	padding-left: 1rem;
	padding-right: 1rem;
}

.compas-toc .nav-item {
	list-style-type: none;
	display: block;
	width: 100%;
}

.compas-toc .nav-link {
	color: #ccc;
	padding: 0.25rem 0;
}

.compas-toc .nav-link:hover {
	color: #666;
}

.compas-toc .nav-link.active {
	color: #222;
}

/* Sidebar */

.compas-searchbox {
	padding: 1rem;
	border-bottom: 0px solid #eee;
	position: relative;
}

.compas-searchbox input {
	border-radius: 0.25rem;
}

.compas-navigation-toggler {
	margin-left: 1rem;
}

.compas-navigation {
	padding-top: 0.5rem;
	padding-bottom: 1rem;
}

.compas-navigation .nav {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.compas-navigation .nav-item {
	list-style-type: none;
	display: block;
	width: 100%;
}

.compas-navigation .nav-link {
	padding: 0.25rem 0.5rem;
	color: #222;
}

.compas-navigation .nav-item .nav {
	margin-bottom: 1rem;
}

.compas-navigation .nav-item .nav {
	display: none;
}

.compas-navigation .active .nav {
	display: block;
}

.compas-navigation .nav-item {
	font-size: 1rem;
}

.compas-navigation .nav-item .nav-item .nav-link {
	font-size: 0.875rem;
    color: #222;
}

.compas-navigation .nav-item .nav-item.active > .nav-link {
    color: #222;
}

.compas-navigation .nav-item .nav-item .nav-item .nav-link {
	font-size: 0.75rem;
    color: #ccc;
}

.compas-navigation .nav-item .nav-item .nav-item.active > .nav-link {
    color: #222;
}

.compas-navigation .active > .nav-link {
	font-weight: 600;
    color: #222;
}

/* Content */

.compas-content .breadcrumb {
	background-color: #fff;
	padding: 0;
}

.compas-content .section > ul {
	margin-bottom: 2rem;
}

.compas-content ul p {
	margin-bottom: 0.5rem;
}

.compas-content .metadata {
	margin-left: 4rem;
}

.compas-content .metadata ul {
	padding-left: 1rem;
	margin-bottom: 1rem;
}

.compas-content .alert {
	margin-bottom: 2rem;
}

.compas-content .figure {
	margin-bottom: 2rem;
	padding: 0;
}

.compas-content .card {
	margin-bottom: 2rem;
}

.highlight {
	margin-top: 2rem;
	margin-bottom: 2rem;
	/* font-size: 0.8rem; */
}

.hljs {
	padding: 2rem;
}

.nohighlight pre {
	padding: 2rem;
	background-color: #eee;
}

.compas-content .anchorjs-link {
	text-decoration: none;
}

.compas-sideways {
	margin-top: 4rem;
}

.compas-next {
	float: right;
}
