name: build

on:
  push:
    branches:
      - main
      - 'compas-2.x-compat'
  pull_request:
    branches:
      - main
      - 'compas-2.x-compat'

jobs:
  build-cpython:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        name: [
          "windows-py38",
          "macos-py37",
          "ubuntu-py39",
        ]
        include:
          - name: "windows-py38"
            os: windows-latest
            python-version: 3.8
          - name: "macos-py37"
            os: macos-latest
            python-version: 3.7
          - name: "ubuntu-py39"
            os: ubuntu-latest
            python-version: 3.9
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install wheel
          python -m pip install cython --config-settings="--build-option=--no-cython-compile"
      - name: Install
        run: |
          python -m pip install --no-cache-dir -r requirements-dev.txt
      - name: Run linter
        run: |
          invoke lint
      - name: Run tests
        run: |
          pytest
  build-ironpython:
    name: windows-ironpython
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          curl -o compas.tar.gz -LJO https://pypi.debian.net/COMPAS/COMPAS-1.17.7.tar.gz
          curl -o roslibpy.tar.gz -LJO https://pypi.debian.net/roslibpy/latest
          curl -o ironpython-pytest.tar.gz -LJO https://pypi.debian.net/ironpython-pytest/latest
          choco install ironpython --version=2.7.8.1
          ipy -X:Frames -m ensurepip
          ipy -X:Frames -m pip install --no-deps compas.tar.gz
          ipy -X:Frames -m pip install --no-deps roslibpy.tar.gz
          ipy -X:Frames -m pip install --no-deps ironpython-pytest.tar.gz
      - name: Run tests
        env:
          IRONPYTHONPATH: ./src
        run: |
          ipy tests/ipy_test_runner.py
