name: build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        name: [
          "windows-py38",
          "macos-py37",
          "ubuntu-py36",
        ]
        include:
          - name: "windows-py38"
            os: windows-latest
            python-version: 3.8
          - name: "macos-py37"
            os: macos-latest
            python-version: 3.7
          - name: "ubuntu-py36"
            os: ubuntu-latest
            python-version: 3.6
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install cython --install-option="--no-cython-compile"
      - name: Install
        run: |
          python -m pip install --no-cache-dir -r requirements-dev.txt
      - name: Run linter
        run: |
          invoke lint
      - name: Run tests
        run: |
          invoke test
