name: integration

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: ubuntu-py38-integration
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Set up docker containers
        run: |
          docker-compose -f "tests/integration_setup/docker-compose.yml" up -d --build
          docker ps -a
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install wheel
          python -m pip install cython --install-option="--no-cython-compile"
      - name: Install
        run: |
          python -m pip install --no-cache-dir -r requirements-dev.txt
          # Get V-REP remote API for integration testing
          curl --output $(python -c "import os;import compas_fab.backends.vrep.remote_api as v; print(os.path.dirname(v.__file__))")/remoteApi.so https://wolke.ethz.ch/s/idbWPRKzJ8pFkAn/download/remoteApi.so
      - name: Run integration tests
        run: |
          pytest --doctest-modules --ignore-glob="**ghpython/components/**.py"
          pytest docs
      - name: Tear down docker containers
        run: |
          docker-compose -f "tests/integration_setup/docker-compose.yml" down
