name: ironpython

on:
  push:
    branches:
      - main
      - 'compas-2.x-compat'
  pull_request:
    branches:
      - main
      - 'compas-2.x-compat'

jobs:
  build:
    name: windows-ironpython
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          choco install ironpython --version=2.7.8.1
          curl -o ironpython-pytest.tar.gz -LJO https://pypi.debian.net/ironpython-pytest/latest
          curl -o compas.tar.gz -LJO https://pypi.debian.net/COMPAS/COMPAS-2.0.4.tar.gz
          curl -o roslibpy.tar.gz -LJO https://pypi.debian.net/roslibpy/latest
          curl -o compas_robots.tar.gz -LJO https://pypi.debian.net/compas_robots/latest
          ipy -X:Frames -m ensurepip
          ipy -X:Frames -m pip install --no-deps ironpython-pytest.tar.gz
          ipy -X:Frames -m pip install --no-deps compas.tar.gz
          ipy -X:Frames -m pip install --no-deps roslibpy.tar.gz
          ipy -X:Frames -m pip install --no-deps compas_robots.tar.gz
      - uses: NuGet/setup-nuget@v1.0.5
      - uses: compas-dev/compas-actions.ghpython_components@v5
        with:
          source: src/compas_fab/ghpython/components
          target: src/compas_fab/ghpython/components/ghuser
      - name: Test import
        run: |
          ipy -m compas_fab
        env:
          IRONPYTHONPATH: ./src
      - name: Run tests
        run: |
          ipy tests/ipy_test_runner.py
        env:
          IRONPYTHONPATH: ./src
